!.gitkeep

# Laravel, nodeJS, Bower, Gulp exclusions, Composer exclusions
.htaccess
vendor/
node_modules/
npm-shrinkwrap.json
bower_components/

composer.phar
composer.lock
phpunit.phar

.env
storage

# IDE exclusions
.DS_Store
Thumbs.db
.idea
_ide_helper.php
.phpstorm.meta.php
*.sqlite
.rocketeer/
