.title-section {
    margin-bottom: 20px;
    /* display: inline-block; */
}

.title-section .searchbar-addbt {
    float: right;
}


.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 .fa, .active-cyan-4 .fa {
    color: #4dd0e1;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
}

.card-header .emp-avatar {
    width: 40%;
}

.card-header .emp-details {
    width: 60%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.card-header .emp-details .card-title {
    font-size: 1.6em;
}

.card-body .btn{min-width: 72px;}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
